@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-white;
  background: #121829;
}

input {
  @apply bg-transparent h-14 w-full focus-visible:outline-none;
}

.list-movie {
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
  @apply p-4;
}
